{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "node": true,
        "jest": true
    },
    "plugins": [
        "@typescript-eslint",
        "import",
        "unused-imports"
    ],
    "extends": [
        "eslint:all",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "prettier"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-duplicate-imports": "off",
        "import/no-duplicates": "error",
        "sort-imports": "off",
        "import/order": [
            "error",
            {
                "alphabetize": {
                    "order": "asc"
                },
                "newlines-between": "always",
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "unknown",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ]
            }
        ],
        "@typescript-eslint/consistent-type-imports": [
            "error",
            {
                "prefer": "type-imports"
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "import/no-unresolved": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "eol-last": "error",
        "id-length": "off",
        "line-comment-position": "off",
        "max-lines-per-function": "off",
        "max-lines": "off",
        "max-params": "off",
        "max-statements": "off",
        "multiline-comment-style": "off",
        "capitalized-comments": "off",
        "no-shadow": "off",
        "no-case-declarations": "off",
        "no-nested-ternary": "off",
        "no-console": "off",
        "no-continue": "off",
        "no-inline-comments": "off",
        "no-magic-numbers": "off",
        "no-ternary": "off",
        "no-undefined": "off",
        "no-use-before-define": "off",
        "no-warning-comments": "off",
        "one-var": "off",
        "sort-keys": "off",
        "sort-vars": "off"
    },
    "ignorePatterns": [
        "**/*.d.ts"
    ]
}