// ------------------ Container ------------------ //
.twohop-links-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.twohop-links-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

// ------------------ Block ------------------ //
.twohop-links-box {
  box-sizing: border-box;
  width: 135px;
  height: 90px;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: auto;

  padding: 5px;

  color: var(--text-normal);
  cursor: pointer;
  background-color: var(--background-primary);
  border: 2px solid var(--background-secondary);
  border-radius: 0.2em;

  position: relative;
}

.twohop-links-box:hover {
  text-decoration: underline;
}

// ------------------ Header ------------------ //

.twohop-links-box-header {
  font-size: 0.8em;
  font-weight: bold;
  background-color: var(--interactive-accent);

  border: none;

  .twohop-links-twohop-links & {
    color: var(--text-normal);
    background-color: var(--background-modifier-border);
  }
  .twohop-links-tag-links & {
    background-color: #ffd8d191;
  }
  .twohop-links-new-links & {
    background-color: var(--interactive-accent);
  }
}

// ------------------ Content ------------------ //

.twohop-links-box-title {
  font-weight: bold;
  position: relative;

  padding: 0 0.3em;
  display: inline;
  border-radius: 0.2em;

  .twohop-links-has-sumbnail & {
    background: var(--background-modifier-cover);
    box-decoration-break: clone;
  }
}

.twohop-links-header {
  font-size: 0.8em;
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}

.twohop-links-box-preview {
  position: absolute;
  height: 100%;
  top: 0;
}
